@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @media print {
    .no-print {
      display: none !important;
    }
    .print-only {
      display: block !important;
    }
  }
}
